<h1>edit your ideas<h1>

<% if @article.errors.any? %>
  <h2>oops! the following errors happened when trying to save your article</h2>
  <ul>
    <% @article.errors.full_messages.each do |err| %>
      <%= err %>
    <% end %>
  </ul>
<% end %>

<%= form_with(model: @article, local: true) do |f| %>

  <p>
    <%= f.label :title %><br/>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :description %><br/>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>